/*Footer*/

.footer {
  margin-top: 150px;
  width: 100%;
  padding: 100px;
  background: #71c777;
  color: white;
  display: flex;
  bottom: 0;
}

.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}
.footer div h3 {
  font-weight: 300;
  margin-top: 30px;
  letter-spacing: 1px;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.col-3 {
  margin-right: 150px;
}
form input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  outline: none;
  border: none;
}
form button {
  background: transparent;
  border: 2px solid #ffff;
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
.footer-icons {
  margin-top: 30px;
}
.footer-icons img {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
.footer2 {
  margin-top: 150px;
  width: 100%;
  padding: 100px;
  background: #dc1e45;
  color: white;
  display: flex;
  bottom: 0;
}

.footer2 div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}
.footer2 div h3 {
  font-weight: 300;
  margin-top: 30px;
  letter-spacing: 1px;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.col-3 {
  margin-right: 150px;
}
form input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  outline: none;
  border: none;
}
form button {
  background: transparent;
  border: 2px solid #ffff;
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
.footer-icons {
  margin-top: 30px;
}
.footer-icons img {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
